<br>
<section class="intro">
  <div class="container">
    <h1 class="text-center">Accidentes Viales en el municipio de Tierra Blanca Veracruz</h1>
    <br>
    <div class="card border-white">
          <div class="card-body">
            <h5 class="card-title"><b>¿Qué son?</b></h5>
            <p class="card-text">
              Un accidente de tránsito, también conocido como siniestro vial
              es un suceso que ocurre generalmente cuando un vehículo colisiona contra uno o más
              sectores de la vialidad u otra obstrucción estacionaria.Es un gran impacto entre la
              sociedad de tierra blanca ya que tierra blanca es uno de los municipios con más
              porcentaje de accidentes en moto y carros gracias los datos que sé que han recabado
              nos damos cuenta que de 9 a 10 accidentes pueden ser evitado, en nuestra opinión es
              necesario reforzar las acciones de prevención ya que como anterior mente habíamos
              dicho tierra blanca ocupa el primer lugar en accidentes por motos y carros
            </p>
      </div>
    </div>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card border-primary">
        <div class="card-body">
          <h5 class="card-title"><b>Causas</b></h5>
          <p class="card-text">Las cauusas de los accidentes de tránsito suelen ocurrir
            principalmente por los siguientes factores:
            <br>
            <br>
            <b>► Factor humano:</b> Son la causa del mayor porcentaje de hechos de tránsito,
            pueden convertirse en agravantes a la culpabilidad del conductor causante, segun
            la legislación de tránsito de cada país.
            <br>
            <br>
            <b>► Factor mecánico:</b> Son aquellos vehículos en condiciones no adecuadas,
            para su operación ya sea por los sistemas averiados, como frenos dirección,
            neumatico o supensión.
            <br>
            <br>
            <b>► Factor climatológico:</b> Niebla, humedad, derrumbes,zonas inestables,
            hundimientos.
            <br>
            <br>
            <b>► Otros factores:</b> Semaforo que funciona incorrectamente, condiciones de la
            vía desde grietas y baches hasta obstáculos sin señalamiento.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-white">
        <div class="card-body">
          <br><p><i>Lesiones leves durante partido de futbol</i></p>
          <img src="assets/img/img-1.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card border-white">
        <div class="card-body">
          <br>
          <br>
          <br>
          <br><p><i>Accidentes de motocicleta, en la localidad "El resplandor"</i></p>
          <img src="assets/img/img-2.jpg" alt="">
          <br>
          <br>
          <p> </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <div class="card-body">
          <h5 class="card-title"><b>Consecuencias</b></h5>
          <p class="card-text">El mayor riesgo en un accidente de tráfico tiene que ver con la
            salud de los involucrados.
            <br>
            <br>
            <b>► Lesiones físicas:</b> Incluso los accidentes de tráfico más leves suelen producir lesiones físicas,
            estas se limitarán a traumatismos leves, aunque es prácticamente inevitable sufrir daño cervical. Las
            lesiones físicas necesitan de tratamiento, y la víctima del accidente debe saber que puede repercutir el
            coste del mismo sobre la aseguradora del responsable del mismo.
            <br>
            <br>
            <b>► Los daños psicológicos:</b> Para que se desarrolle un daño psicológico no es necesario que el accidente
            sea de gran entidad, sin embargo, alcances que podrían parecer inocuos pueden perturbar a nivel psicológico
            a personas más vulnerables, como los niños o las personas mayores.
            <br>
            <br>
            <b>► Consecuencias materiales:</b> Todos los daños materiales provocados durante el accidente deben ser
            reparados, los daños materiales no solo incluyen la reparación de los vehículos, sino de todos los bienes
            que portaran las víctimas y del mobiliario urbano dañado.
            <br>
            <br>
            <b>► Consecuencias jurídicas:</b>  Los accidentes de tráfico despliegan la responsabilidad civil del culpable,
            que debe indemnizar todos los conceptos antedichos. Para evitar que las víctimas queden desamparadas por
            insuficiencia patrimonial del responsable se hace obligatoria la suscripción del seguro de circulación.
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
<br>
<div class="card border-white">
  <div class="card-body">
    <h5 class="card-title"><b>Claves para evitar un accidente</b></h5>
    <p class="card-text">
      <br>
      ► Prestar atención a las acciones de otros conductores de automóviles,
      peatones u objetos en el camino te permitirá reaccionar con anticipación
      para evitar o minimizar el riesgo de accidentes graves.  <br>
      ► Cuando manejes guarda tu teléfono celular para evitar la tentación
      de revisar tus mensajes o whatsapps, hacer llamadas o revisar tus redes
      sociales.<br>
      ► Es preferible acceder a sus funcionalidades básicas (mapas o navegación)
      a través de aplicaciones de asistencia al volante como CarPlay o Android.<br>
      ► Mantén una distancia de seguridad adecuada una buena práctica es mantener
      por lo menos 5 segundos de separación entre tu vehículo y el auto de enfrente.
    </p>
</div>
</div>
</section>
