<br>
    <section class="blog-details spad">
      <div class="container">
        <h1 class="text-center">Reportes de accidentes viales</h1>
      </div>

              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card border-primary">
                    <div class="card-body">
                      <div class="card-text">
                        <h4>Tarjeta Informativa 1:</h4>
                        <img src="" alt="">
                        <p>
                          <b>Cargo:</b> Paramedico Protección civil y bomberos <br>
                          <b>Tipo de emergencia:</b> Trauma(accidente automotor) <br>
                          <b>Ubicación:</b> Carretera Federal - esquina Landero y coss <br>
                          <b>Causa del accidente:</b> Derrape con motocicleta <br>
                          <b>Diagnóstico:</b> Presenta posible deformidad a nivel de
                          radio y cúbito de extremidad superior derecha, así mismo
                          dolor en rótula de extremidad inferior derecha, abrasiones
                          diversas.  Se traslada a el  Hospital General Subzona para
                          su valoración médica correspondiente  <br>
                        </p>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card border-primary">
                      <div class="card-body">
                        <div class="card-text">
                          <h4>Tarjeta Informativa 2:</h4>
                        <img src="" alt="">
                        <p>
                          <b>Cargo:</b> Paramedico Protección civil y bomberos <br>
                          <b>Tipo de emergencia:</b> Trauma(accidente automotor) <br>
                          <b>Ubicación:</b> El Resplandor <br>
                          <b>Causa del accidente:</b> Derrape con motocicleta <br>
                          <b>Diagnóstico:</b> Presenta abrasiones en extremidad
                          superior derecha así mismo dolor a nivel del arco clavicular
                          izquierdo, adema en región occipitar de craneo lado derecho.
                          Se traslada a el hospital general subzona para su valoración
                          médica correspondiente <br>
                        </p>
                        <br>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card border-primary">
                      <div class="card-body">
                        <div class="card-text">
                          <h4>Tarjeta Informativa 3:</h4>
                        <img src="" alt="">
                        <p>
                          <b>Cargo:</b> Coordinadora de Atención Médica Prehospitalaria. Protección Civil y Bomberos. <br>
                          <b>Tipo de emergencia:</b> Trauma choque de motocicleta <br>
                          <b>Ubicación:</b> Calle 4 de Agosto entre Mártires
                          de Río Blanco Col. Emiliano Zapata<br>
                          <b>Causa del accidente:</b> Choque de motocicletas <br>
                          <b>Diagnóstico:</b> Presenta herida en tabique nasal con rinorragia activa
                          y cefalea. Se encuentra en posición decúbito lateral derecho en el asfalto. <br>
                        </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card border-white">
                      <div class="card-body">
                        <div class="card-text">
                          <h4></h4>
                          <img src="assets/img/img-3.jpeg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
      </section>
